body {
    align-items: center;
    text-align: left;
    padding: 15%;
    background-image: url("./background.jpg");
    background-size: cover;
}
img {
    width: 60%;
}
.row {
    display: flex;
    min-height: 80vh;
    height: 80vh;
}
.column {
    flex: 50%;
    padding:2em;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
}
h1 {
    font-family: "Josefin Sans",sans-serif;
    font-weight: 100;
    font-size: 3em;
    text-align: left;
}
h2 {
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    text-align: left;
}
p {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 10%;
}
section {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}